

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

h1{
  font-family: "bad-dog", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p{
  font-family: "ff-providence-sans-web-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  text-align: center;
  margin: 0;
  padding: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;
    padding: 20px;
    gap: 20px;
    margin: 10px;
    align-items: center;
}


.plantdiv {
  text-align: center;
  margin: 10px;
  max-width: 150px;
  line-height: 0.9;
}

.plantdiv p {
  margin-top: 10px;
  font-size: 10px;
  text-align: center;
}

p:visited {
  color:gray;
}

